In [2]:
import pandas as pd

In [6]:
# Se crea un dataframe en el que se muestran los datos correspondientes a la encuesta nacional de inmunización infantil de Estados Unidos en 2017
archivo_csv = "C:\\Users\\USUARIO\\Downloads\\NISPUF17 (3).csv"
df = pd.read_csv(archivo_csv)
print('DataFrame: ')
df.head() # Lo utilizo para que el dataframe solo muestre las primeras 5 filas

DataFrame:

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

Pregunta 1
Escribe una función llamada proportion_of_education que devuelva la proporción de niños en el dataset que tuvieron una madre con los niveles de educación: igual a menor de secundaria (<12), secundaria (12), mayor que secundaria pero sin ser universitaria graduada (>12) y con título universitario.

In [7]:
# Para resolver
def proportion_of_education(df):
  educacion_menos_secundaria = len(df[df['EDUC1'] == 1])
  educacion_secundaria = len(df[df['EDUC1'] == 2])
  educacion_mayor_secundaria_no_uni = len(df[df['EDUC1'] == 3])
  educacion_mayor_secundaria_uni = len(df[df['EDUC1'] == 4])

  total = len(df)

  proporciones = {'Educación menor a secundaria:' : educacion_menos_secundaria / total,
                  'Educación igual a secundaria:' : educacion_secundaria / total,
                  'Educación mayor a secundaria pero no universitaria:' : educacion_mayor_secundaria_no_uni / total,
                  'Educacion mayor a secundaria y universitaria:' : educacion_mayor_secundaria_uni / total}
  return proporciones

resultados = proportion_of_education(df)
print('Resultados: ')
print(resultados)

Resultados:
{'Educación menor a secundaria:': 0.10202002459160373, 'Educación igual a secundaria:': 0.172352011241876, 'Educación mayor a secundaria pero no universitaria:': 0.24588090637625154, 'Educacion mayor a secundaria y universitaria:': 0.47974705779026877}

Pregunta 2
Exploremos la relación entre ser alimentado con leche materna (fed breast milk) cuando era niño y recibir una vacuna contra la influenza estacional (seasonal influenza) de un proveedor de atención médica.

In [8]:
def average_influenza_doses(df):
 alimentado_leche_materna = df[df['CBF_01'] == 1]
 no_alimentado_leche_materna = df[df['CBF_01'] == 2]

 promedio_vacunas_leche_materna = alimentado_leche_materna['P_NUMFLU'].mean()
 promedio_vacunas_no_leche_materna = no_alimentado_leche_materna['P_NUMFLU'].mean()

 return (promedio_vacunas_leche_materna, promedio_vacunas_no_leche_materna)

resultados = average_influenza_doses(df)
print("Número promedio de vacunas contra la influenza para niños alimentados con leche materna:", resultados[0])
print("Número promedio de vacunas contra la influenza para niños no alimentados con leche materna:", resultados[1])

Número promedio de vacunas contra la influenza para niños alimentados con leche materna: 1.8799187420058687
Número promedio de vacunas contra la influenza para niños no alimentados con leche materna: 1.5963945918878317

Pregunta 3
Sería interesante ver si hay evidencia de un vínculo entre la efectividad de la vacuna y el sexo del niño. Calcule el ratio entre el número de niños que contrajeron varicela (chickenpox) pero que fueron vacunados contra ella (al menos una dosis) versus los que fueron vacunados y no contrajeron varicela.

In [10]:
def chickenpox_by_sex(df):
  vacunados_tuvieron_varicela = df[(df['HAD_CPOX'] == 1) & (df['P_NUMVRC'] >= 1)]
  vacunados_no_tuvieron_varicela = df[(df['HAD_CPOX'] == 2) & (df['P_NUMVRC'] >= 1)]

  ratio_hombres = len(vacunados_tuvieron_varicela[vacunados_tuvieron_varicela['SEX'] == 1]) / len(vacunados_no_tuvieron_varicela[vacunados_no_tuvieron_varicela['SEX'] == 1])
  ratio_mujeres = len(vacunados_tuvieron_varicela[vacunados_tuvieron_varicela['SEX'] == 2]) / len(vacunados_no_tuvieron_varicela[vacunados_no_tuvieron_varicela['SEX'] == 2])

  ratios = {'Hombres: ' : ratio_hombres,
            'Mujeres: ': ratio_mujeres}

  return ratios

resultados3 = chickenpox_by_sex(df)
print(resultados3)

{'Hombres: ': 0.009675583380762664, 'Mujeres: ': 0.0077918259335489565}